.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 0.7rem;
}

.form__field-label {
  font-weight: 600;
}

.form__field-input {
  background-color: #f3f4f6;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 0.6rem;
}
